$back-color: #131313;
$txt-color: #F5EEE6;
// $primary-color: #7BE0AD;
$primary-color: #98c1d9;

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $txt-color;
    font-family: 'Montserrat', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    scroll-behavior: smooth;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

// h4{
    // font-family: 'pointless', sans-serif;
    // font-family: 'kilby', sans-serif;
    // font-family: 'brakshoo', sans-serif;
    // font-family: 'fasttrack', sans-serif;
    // font-family: 'quickstarter', sans-serif;
    // font-weight: 200;
// }

h1, h4{
       font-family: 'kilby', sans-serif; 
    //    font-weight: 200;
}




@font-face {
    font-family: 'brakshoo';
    src: url(../fonts/brakshoo/BRAKSHOO.ttf);
    font-style: normal;
}

@font-face {
    font-family: 'kilby';
    src: url(../fonts/kilby/kilby-bold-webfont.woff) format('woff'),
         url(../fonts/kilby/kilby-bold-webfont.ttf) format('truetype'),
         url(../fonts/kilby/kilby-bold-webfont.woff2) format('woff'),
         url(../fonts/kilby/kilby-bold-webfont.svg#kilby) format('svg'),
         url(../fonts/kilby/kilby-bold-webfont.eot) format('eot');
    font-style: normal;
}


@font-face {
    font-family: 'pointless';
    src: url(../fonts/pointless/pointless-webfont.woff) format('woff'),
         url(../fonts/pointless/pointless-webfont.ttf) format('truetype'),
         url(../fonts/pointless/pointless-webfont.woff2) format('woff'),
         url(../fonts/pointless/pointless-webfont.svg#pointless) format('svg'),
         url(../fonts/pointless/pointless-webfont.eot) format('eot');
    font-style: normal;
}

@font-face {
    font-family: 'fasttrack';
    src: url(../fonts/fasttrack/FAST-TRACK.ttf);
}

@font-face {
    font-family: 'adrenal';
    src: url(../fonts/adrenal/adrenal_italic_demo.ttf);
}

@font-face {
    font-family: 'quickstarter';
    src: url(../fonts/quick_starter/Quick\ Starter.ttf);
    font-style: normal;
}


body{
    width: 100%;
    height: 100vh;
    // height: 100%;
    background: url(../img/back.jpg) no-repeat;
    // background-color: $back-color;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    // margin-top: -10px;
}

// ------------------------------------- header ----------------------------------- 
header{
    display: flex;
    flex-direction: column;
    // margin-top: -10px;
    // padding-top: 10px;
    // background-color: rebeccapurple;
    background: inherit;
    nav#nav-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        // background-color: rebeccapurple;
        // background-color: $back-color;
        padding: 15px 15px;
        background: inherit;
        h4{
            z-index: 2;
        }
        ul#menu{
            text-transform: uppercase;
            font-weight: 300;
            background: inherit;
            background-size: cover;
            // box-shadow: 0 0 1px white;
            z-index: 1;
            position: absolute;
            inset: 0;
            width: 100vw;
            height: 100vh;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // display: none;
            overflow: hidden;
            transform: translateX(-100%);
            transition: 0.6s;
            &::before{
                content: "";
                position: absolute;
                inset: 0;
                background: inherit;
                z-index: -1;
                filter: blur(3px);
            }
            .item-menu{
                padding: 15px 0;
                a{
                    transition: 0.3s;
                }
                a:hover{
                    color: $primary-color;
                }
            }
            &.show{
                // display: block;
                // display: flex;
                // flex-direction: column;
                // justify-content: center;
                // align-items: center;
                transform: translateX(0);
                // background-color: rebeccapurple;
                width: 100%;
            }
        }
        #burger{
            cursor: pointer;
            z-index: 2;
        }
    }
    #intro{
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
        h1{
            margin: 80px 0 40px;
            // background-color: rebeccapurple;
            font-size: clamp(26px, 5vw, 52px);
        }
        p{
            margin-top: 20px;
            font-weight: 200;
        }
}
}


header nav#nav-header ul#menu li:last-child a{
    background-color: $primary-color;
    padding: 10px 15px;
    border: 1px solid $primary-color;
    border-radius: 20px;
    margin-top: 10px;
    color: $back-color;
    font-weight: 300;
    &:hover{
        background: none;
        color: $primary-color;
    }
}


// ---------------------------------- section compétences --------------------------------- 
section#competences{
    margin: 50px auto;
    width: 90%;
    h2{
        font-size: clamp(38px, 10vw, 64px);
        font-weight: 400;
        word-wrap: break-word;
    }
}

section#competences ul#list-competences{
    width: 100%;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    margin: 40px auto;
    li.competence{
        // background-color: rebeccapurple;
        position: relative;
        width: 100%;
        margin: 10px auto;
        width: 90%;
        font-weight: 300;
        font-family: 'kilby', 'Montserrat', sans-serif;
        &::before{
            content: "";
            width: 150px;
            height: 20px;
            // background-color: rebeccapurple;
            border: #F5EEE6 1px solid;
            border-radius: 30px 0 30px 0;
            position: absolute;
            top: 0;
            left: 60%;
        }
        // &::after{
        //     content: "";
        //     // width: 120px;
        //     height: 20px;
        //     background-color: $primary-color;
        //     border-radius: 30px 0 30px 0;
        //     position: absolute;
        //     top: 0;
        //     left: 60%;
        //     // display: none;
        //     // opacity: 0;
        //     transform: translateX(-100%);
        //     // overflow: hidden;
        //     transition: 0.3s;
        // }
    }
    // &:hover li.competence::after{
        // display: block;
        // opacity: 1;
        // transform: translateX(0);
    // }
}

.animation::after{
    content: "";
    // width: 120px;
    height: 20px;
    background-color: $primary-color;
    border-radius: 30px 0 30px 0;
    position: absolute;
    top: 0;
    left: 60%;
    // display: none;
    opacity: 0;
    transform: translateX(-100%);
    overflow: hidden;
    // transition: 0.3s;
    // z-index: -1;
    animation-duration: 0.3s;
    animation: slide 1.6s ease-in-out forwards;
}

@keyframes slide {
   
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}

section#competences ul#list-competences .competence-first-part li.competence:nth-child(1)::after{
    width: 110px;
    // transition: 0.3s;

}

section#competences ul#list-competences .competence-first-part li.competence:nth-child(2)::after{
    width: 130px;
    // transition: 0.4s;

}

section#competences ul#list-competences .competence-first-part li.competence:nth-child(3)::after{
    width: 95px;
    // transition: 0.5s;

}

section#competences ul#list-competences .competence-first-part li.competence:nth-child(4)::after{
    width: 85px;
    // transition: 0.6s;

}

section#competences ul#list-competences .competence-first-part li.competence:nth-child(5)::after{
    width: 65px;
    // transition: 0.7s;

}

section#competences ul#list-competences .competence-second-part li.competence:nth-child(1)::after{
    width: 85px;
    // transition: 0.8s;

}

section#competences ul#list-competences .competence-second-part li.competence:nth-child(2)::after{
    width: 75px;
    // transition: 0.9s;

}

section#competences ul#list-competences .competence-second-part li.competence:nth-child(3)::after{
    width: 70px;
    // transition: 1s;

}

section#competences ul#list-competences .competence-second-part li.competence:nth-child(4)::after{
    width: 60px;
    // transition: 1.1s;

}

section#competences ul#list-competences .competence-second-part li.competence:nth-child(5)::after{
    width: 50px;
    // transition: 1.2s;

}


// ---------------------------------------- section projets ----------------------- 
#projets{
    
    .slideshow{
        display: flex;
        overflow: hidden;
        h2{
            margin: 30px 0;
            animation: slideshow 1.5s infinite linear;
            // background-color: rebeccapurple;
            padding: 0 10px;
        }     
    }
    p{
        width: 90%;
        margin: 0 auto;
        text-align: center;
        font-weight: 200;
        a{
            color: $primary-color;
            transition: 0.3s;
            &:hover{
                color: $txt-color;
            }
        }
    }
}

@keyframes slideshow {
    0%{
        transform: translateX(0)
    }
    100%{
        transform: translateX(-100%);
    }
}


#projets .projets-cards{
    // width: /5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    a{
        display: block;
        position: relative;
        margin: 20px;
        padding: 0;
        transition: 0.4s;

        &:nth-child(2n -1) img{
            object-position: 0;
        }
        &::after{
            content: "voir";
            background-color: rgba(30, 30, 30, 0.74);
            width: 100%;
            height: 100%;
            border-radius: 10px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 20;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            font-size: 1.8rem;
            text-transform: uppercase;
            // display: none;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
        }
        &:hover::after{
            animation: apparition 0.5s forwards;
        }
    }
    img{
        width: 40vw;
        height: 250px;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
        position: relative;
    }
}

@keyframes apparition {
    100%{
        opacity: 1;
    }
}

// -------------------------------- contact ------------------------------ 
#contact-section{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    h2{
        width: 100%;
        text-align: right;
        font-size: clamp(52px, 12vw, 64px);
        font-weight: 400;
        word-wrap: break-word;
        // background-color: rebeccapurple;
    }
    #contact-form{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 50px auto 100px;
        input, textarea{
            margin: 5px 0;
            padding: 5px 10px;
            border: none;
            border: 1px solid $primary-color;
            border-radius: 5px;
            background: none;
            color: $primary-color;
            opacity: 0.9;
        }
        input::placeholder{
            color: $primary-color;
            opacity: 0.9;
        }
        button{
            display: block;
            // width: 100px;
            width: 100%;
            margin: 20px auto;
            background: none;
            background: $primary-color;
            border-radius: 5px;
            border: none;
            border: 1px solid $primary-color;
            color: $back-color;
            padding: 12px 20px;
            cursor: pointer;
            transition: 0.3s;
            &:hover{
                background: none;
                color: $primary-color;
            }
        }
    }
}






// --------------------------------------- media queries --------------------------- 
@media  screen and (min-width: 1024px) {
    // ------------------------------------- header ----------------------------------- 
header{

    nav#nav-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: none;
        // background-color: $back-color;
        padding: 20px 0;
        // background: inherit;
        ul#menu{
            text-transform: uppercase;
            font-weight: 200;
            z-index: 1;
            position: relative;
            inset: 0;
            width: 50%;
            height: auto;
            margin: auto 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            &::before{
                display: none;
            }
            .item-menu{
                padding: 15px 0;
                // width: 20%;
                a{
                    padding: 10px 15px;
                    border-radius: 20px;
                    font-weight: 300;
                    // border: 1px solid $primary-color;
                    // color: $primary-color;
                    transition: 0.3s;
                    width: 25%;
                }
                a:hover{
                    color: $primary-color;
                }
            }
        }
        #burger{
            display: none;
        }
    }
    #intro{
        justify-content: space-between;
        align-items: flex-end;
        h1{
            width: 40%;
        }
        #txt-intro{
            width: 45%;
        }
        p{
            width: 100%;
            // background-color: royalblue;
        }
}
}




// ---------------------------------- section compétences --------------------------------- 
section#competences{
    margin: 100px auto;
}

section#competences ul#list-competences{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px 0;
    // background-color: rebeccapurple;
    .competence-first-part, .competence-second-part{
        width: 30%;
    }
}





// ---------------------------------------- section projets ----------------------- 
#projets{
    
    .slideshow{
        display: flex;
        overflow: hidden;
        h2{
            margin: 30px 0;
            animation: slideshow 1.5s infinite linear;
            // background-color: rebeccapurple;
            padding: 0 10px;
        }     
    }
}

@keyframes slideshow {
    0%{
        transform: translateX(0)
    }
    100%{
        transform: translateX(-100%);
    }
}

// ------------------------------------------ projets -------------------------------- 
#projets .projets-cards{
    width: 100%;
    justify-content: space-between;
    margin: 30px auto 0;
}


// -------------------------------- contact ------------------------------ 
#contact-section{
    margin: 100px auto;
    #contact-form{
        width: 60%;
        button{
            width: 100px;
            border-radius: 20px;
        }
}
}
}